/*7.04*/
/*версия свойств и медия от десктоп к телефону*/
/*
.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.item {
    flex: 1 0 calc(25% - 20px);
    background-color: gray;
    border: 1px solid red;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px 40px;
    text-align: center;
    color: black;
}
*/
/*версия медия от десктоп к телефону*/
/*
@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }
    .item {
        flex: 1 0 calc(100% / 3 - 20px);
        background-color: green;
    }
}
@media screen and (max-width: 991px) {
    .item {
        flex-basis: calc(50% - 20px);
        background-color: pink;
    }
}
@media screen and (max-width: 479px) {
    .container {
        display: block;
    }
    .item {
        background-color: yellow;
    }
}
*/

/*версия свойств от моб телефона к десктоп */
/*
.item {
    background-color: yellow;
    border: 1px solid red;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px 40px;
    text-align: center;
    color: black;
}
@media screen and (min-width: 480px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .item {
        flex: 1 0 calc(50% - 20px);
        background-color: pink;
    }
}
@media screen and (min-width: 768px) {
    .item {
        flex-basis: calc(100% / 3 - 20px);
        background-color: green;
    }
}
@media screen and (min-width: 1200px) {
    .item {
    flex-basis: calc(100% / 4 - 20px);
    background-color: gray;
    }
}
*/

/*бургер меню*/
/*
.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
}
.bar {
    width: 30px;
    height: 4px;
    background-color: black;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}
.bar2 {
    top: 13px;
}
.bar3 {
    bottom: 0;
}
.bar1,.bar3 {
    transform-origin: 5%;
}
.checkbox3:checked + label > .hamburger3 > .bar1 {
    transform: rotate(45deg);
    height: 4px;
    width: 40px;
}
.checkbox3:checked + label > .hamburger3 > .bar2 {
    background-color: transparent;
}
.checkbox3:checked + label > .hamburger3 > .bar3 {
    transform: rotate(-45deg);
    height: 4px;
    width: 40px;
}
*/

9.04

