@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }
    .item {
        flex: 1 0 calc(100% / 3 - 20px);
        background-color: green;
    }
}
@media screen and (max-width: 991px) {
    .item {
        flex-basis: calc(50% - 20px);
        background-color: pink;
    }
}
@media screen and (max-width: 479px) {
    .container {
        display: block;
    }
    .item {
        background-color: yellow;
    }
}


@media screen and (min-width: 480px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .item {
        flex: 1 0 calc(50% - 20px);
        background-color: pink;
    }
}
@media screen and (min-width: 768px) {
    .item {
        flex-basis: calc(100% / 3 - 20px);
        background-color: green;
    }
}
@media screen and (min-width: 1200px) {
    .item {
    flex-basis: calc(100% / 4 - 20px);
    background-color: gray;
    }
}